<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.easysolutions.dod">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".complaints.Complaints"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Orders"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Chat_Threads"
            android:label="Messages"
            android:theme="@style/AppTheme.chat" />
        <activity android:name=".complaints.MessagingChat" android:theme="@style/AppTheme.chat"></activity>
        <activity android:name=".Messaging" android:theme="@style/AppTheme.chat"/>
        <activity
            android:name=".AvailableServices"
            android:label="@string/title_activity_available_services"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.easysolutions.dod.MainActivity" />
        </activity>
        <activity
            android:name=".ConfirmOTP"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>